body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
.outer-box{
    width:1280px;
    margin:0px;
}
.right-yellow{
    background-color:white;
    width:1036px;
    height:720px;
    display: inline-block;
    vertical-align:top;
     margin:0px;
}
.left-white{
    background-color:white;
    width:243px;
    height:720px;
    display: inline-block;
     margin:0px;
}
.left-diagonal{
    background-color: #d40e52;
    height: 900px;
    width: 60px;
    -webkit-transform: translateY(-137px) translateX(-136px) rotate(27deg);
    display: inline-block;
}
#l1{
    background-color:#0b99bc;
}
#l2{
    background-color:#fce014;
}
#l3{

}
#l4{
    background-color: #e8cdf5;
    color: #673ab7;
    font-size: 30px;
    font-family: cursive;
    font-weight:bold;
    height:60px;
    width:500px;
    line-height:60px;
    padding-left:100px;
    padding-right:100px;
     -webkit-transform:translateY(-694px) translateX(-223px) rotate(297deg);
 }
 #right-head{
    color: white;
    height: 60px;
    background-color: #3c948b;
    text-align: right;
    line-height: 60px;
    font-size: 20px;
    font-family: HelveticaNeue;
    letter-spacing: 2px;
    padding-right: 120px;
 }
/* Main Page Css*/












/*.name{
    display: inline-block;
    padding: 23px;
}
.header,.footer{
    font-size: 16px;
    font-weight: 100;
    font-family: cursive;
    color: whitesmoke;
    background-color: royalblue;
}
.outer-box{
    text-align: center;
    padding : 40px;
    border: 1px solid beige;
    background-color: whitesmoke;
}
.tic-box{
	display:inline-block;
}
.tic-head{
	height: 50px;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    letter-spacing: 3px;
    color: purple;
}
.tic-body{
    width: 360px;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 17px 2px rosybrown;
}
.tic-output{
	height: 40px;
    padding-top: 25px;
    font-family: Helvetica;
    color: steelblue;
    letter-spacing: 1px;
    border-radius: 5px;
    background: white;
    border: 2px dotted crimson;
}
.tic-item{
	width: 60px;
    padding: 10px;
    height: 60px;
    display: inline-block;
    border-radius: 9px;
    font-size: 50px;
    font-family: Helvetica;
    color: goldenrod;
    vertical-align: top;
    background-color: whitesmoke;
    margin: 13px;
    box-shadow: 0px 0px 19px 1px green;
}
.active{

}
.royal{
    color: royalblue;
}*/